<form action="/auth/login" method="POST">
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In">
</form>
